{% extends 'base.html' %}
{% block content %}

<style>
  .navbar-text{
    color:#ffffff;
    font-weight:bold;
    font-size:150%
  }
  th,td{
    color:#ffffff
  }
  .navbar-custom {
    background-color: #373C3F ;
  }
  .nav-link{
    color: #fff
  }
  .card-header,.card-title,.card-text{
    color: #ffffff
  }
  .card:hover{
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


</style>

<nav class="navbar  navbar-expand-lg navbar-custom py-3">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="{% url 'todolist:show_todolist' %}"><img src="https://www.iconsdb.com/icons/preview/white/checkmark-xxl.png" width="50" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" me-auto mb-2 mb-lg-0 >
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todolist:register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todolist:logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todolist:new_task' %}">Add Task</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        Hello {{username}} 👋
      </span>
    </div>
  </nav>

  <div class="col">
<body style="background-color:#2F3438 ">
  <div class="row" id="table">
  
  </div>
  <br>  
  </body>   


  <script>
    $(document).ready(function() {
    function card(task) {
        return `
        <tr>
      <div class="card bg-secondary hover-shadow mb-2 mt-5" >
        <div class="card-header">
          <th>${task.fields.title}
            ${task.fields.is_finished ? "✅" : "❌"}
          </th>
        </div>
        <div class="card-body">
          <h5 class="card-title">${task.fields.date}</h5>
          <p class="card-text">${task.fields.description}</p>
          <input type="submit" value="Change Status" class="status" onclick="change_status(${task.pk})" />
          <input type="submit" value="Delete Task"  class="status" onclick="delete_task(${ task.pk })" />
        </div>
      </div>
            
        </th>
        `
    };
    function loop() {
        $.get("{% url 'todolist:show_json' %}", function(data) {
            $.each(data, function(i, value) {
                $("#container0").append(card(value));
            });
        });
    };
    loop();

{%endblock content%}