{% extends 'base.html' %}
{% block content %}

<style>
  .navbar-text{
    color:#ffffff;
    font-weight:bold;
    font-size:150%
  }
  th,td{
    color:#ffffff
  }
  .navbar-custom {
    background-color: #373C3F ;
  }
  .nav-link{
    color: #fff
  }
</style>
  <nav class="navbar  navbar-expand-lg navbar-custom py-3">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="{% url 'todolist:show_todolist' %}"><img src="https://www.iconsdb.com/icons/preview/white/checkmark-xxl.png" width="50" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" me-auto mb-2 mb-lg-0 >
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todolist:register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todolist:logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todolist:new_task' %}">Add Task</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        Hello {{username}} 👋
      </span>
    </div>
  </nav>


<body style="background-color:#2F3438 ">
    {% for item in list_item %}
    <tr>
      <div class="card mb-2 mt-5" >
        <div class="card-header">
          <th>{{item.title}}</th>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.date}}</h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text">
            <td>{% if item.is_finished %}
              Finished
              {% else %} 
              Not Finished
              {% endif %}
            </td>
          </p>
          <button><a href="{% url 'todolist:set_status' item.id %}">set status</a></button> <button><a href="{% url 'todolist:set_remove' item.id %}">Remove Task</a></button>
        </div>
      </div>
            
        </th>
        {% endfor %}
      </tr>
</body>
{% endblock content %}
